/* kaartje omlijning */
html,
body {
    height: 100%;
    width: 100%;
    margin: 2rem auto;
    padding: 0;
    font-family: "SUSE", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* formaat kaartje */
#card-layout {
    width: 85%;
    height: 100%;
    max-width: 350px;
    max-height: 600px;
    position: relative;
    justify-self: center;
    perspective: 900px;

    .card-inner {
        position: relative;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        transition: transform 0.45s ease;
        width: 100%;
        height: 100%;
        box-shadow: 1px 2px 3px rgba(0.2, 0.2, 0.2, 0.2);

        &.do-flip {
            transform: rotateY(-180deg);
        }
    }

    #front,
    #back {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
    }

    #front {
        background: #F4F3F1;
    }

    #back {
        background: #F4F3F1;
        transform: rotateY(180deg);
    }

    .main-photo {
        width: 60%;
        height: auto;
        display: flex;
        justify-self: center;
        border-radius: 15px;
        box-shadow: 1px 10px 10px #344c3eab
    }
}

h1 {
    margin-top: 5rem;
    color: #344C3E;
    font-size: 30px;
    text-align: center;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
}

h2 {
    color: #344C3E;
    font-size: 35px;
    text-align: center;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
}

p {
    color: #829671;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
}

summary {
    color: #0F402B;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
}

.info-text {
    color: #0F402B;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
}

.info-buttons {
    justify-self: center;
    list-style: none;
    background-color: #829671;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    font-weight: 100;
}

.info-buttons [open] {
    justify-self: center;
    list-style: none;
    background-color: #b1c89d;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    width: 250px;
}

/* flip button */
#flip-card-btn-turn-to-back,
#flip-card-btn-turn-to-front {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background: #0F402B;
    cursor: pointer;
    visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 14px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}